h1 {
    color: rgb(235, 147, 16);
    font-family: Helvetica;
    margin: 10px;
}
.ds{
    margin: 10px;
    font-family: Helvetica;
}
.ds h3{
    color: rgb(16, 125, 18);
}
.ds a{
    color: black;
    font-size: 20px;
    margin: 3px;
    font-family: Helvetica;
}
.but{
    color:white;
    background:rgb(27, 45, 88);
    width:100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight:200;
    margin: 10px;
    font-family: Helvetica;
}
.inf{
    font-family: Helvetica;
    margin-top: 10px;
    margin-left: 10px;
}
.int input{
    border: 1.5px solid rgb(27, 45, 88);
    border-radius: 5px;
}
.inf button{
    color:white;
    background:rgb(27, 45, 88);
    width:80px;
    height: 20px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight:200;
    margin-top: 6px;
    
}