/* albums.component.css */

div {
    margin-bottom: 20px;
    border: 2px solid rgb(27, 45, 88);
    border-radius:10px;
    width:320px;
    height: 140px;
    margin:30px;
    display:inline-flex;    
    position:relative;
    
}

h3 a{
    
    color: black;
    text-decoration: none;

}
div button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    width:30px;
    height:30px;
    position:absolute;
    left:87%;
    top:70%;
    cursor: pointer;
    font-size:20px;
}
@media (max-width: 768px) {
    .product {
      width: 100%;
    }
  }