<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <img
    [src]="product.image"
    [alt]="product.name + ' image'"
    style="max-width: 200px; max-height: 200px;"
  />
  <p>Rating: {{ product.rating }}</p>
  <p>
    <a [href]="product.url" target="_blank">Kaspi.kz</a>
  </p>

  <button type="button" (click)="share(product)">Share</button>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
